SERVER_PORT=8080
POSTGRES_DB=bukovina_platform
POSTGRES_USER=bukovina_app
POSTGRES_PASSWORD=
POSTGRES_HOST_PORT=15432
DB_URL=jdbc:postgresql://127.0.0.1:15432/bukovina_platform
DB_USERNAME=bukovina_app
DB_PASSWORD=
